google-cloud>=0.34.0
google-cloud-videointelligence==2.3.2
google-cloud-vision>=0.34.0
numpy==1.19.5
pandas==1.2.1
seaborn==0.11.1
nltk==3.6.5
sklearn==0.0
scikit-learn==0.24.2
matplotlib==3.3.4
python-telegram-bot==13.7